.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    background-image: url('../../../public/cool-background.png');
    /*background-image: url('../../../public/cool-background (2).png');*/
    background-size: 200% 200%;
    animation: gradient 60s ease infinite;
}

.password-reset-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-reset-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #7c4dff;
    font-size: 28px;
}

.password-reset-form .form-label {
    font-weight: bold;
}

.password-reset-form .form-control {
    border-radius: 3px;
}

.password-reset-form .btn-primary {
    width: 100%;
    margin-top: 20px;
}

.password-reset-form .alert {
    margin-top: 20px;
}

.password-input {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle svg {
    width: 20px;
    height: 20px;
    fill: #6c757d;
}

.password-toggle:hover svg {
    fill: #000;
}
