.login-container {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    background: linear-gradient(to bottom, #e3f2fd, #bbdefb);
    padding: 20px;
}

.label-and-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    font-size: 28px;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 100px;
    max-width: 400px;
}

.login-form .form-label {
    font-weight: bold;
    color: #333;
}

.login-form .form-control {
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.login-form .btn-primary {
    width: 100%;
    margin-top: 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form .btn-primary:hover {
    background-color: #0056b3;
}

.login-form .alert {
    margin-top: 20px;
}

.login-form .text-center {
    margin-top: 20px;
    font-size: 14px;
}

.login-form .text-center a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.login-form .text-center a:hover {
    text-decoration: underline;
}

.password-input {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle svg {
    width: 20px;
    height: 20px;
    fill: #6c757d;
}

.password-toggle:hover svg {
    fill: #000;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
