.add-tags-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-tags-background-container{
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    background-image: url('../../../public/cool-background (2).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.add-tags-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.tag-list {
    margin-bottom: 20px;
}

.tag {
    display: inline-block;
    background-color: #8aaf5d;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 14px;
    color: #333;
}

.remove-tag-btn {
    /*background-color: transparent;*/
    border: none;
    color: #da1818;
    margin-left: 5px;
    cursor: pointer;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.tag-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}

.add-tag-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.confirm-btn {
    padding: 8px 18px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.added-tags-container {
    margin-bottom: 20px;
}

.added-tag-list {
    display: flex;
    flex-wrap: wrap;
}

/*.added-tag {*/
/*    display: inline-block;*/
/*    background-color: #28a745;*/
/*    padding: 5px 10px;*/
/*    margin-right: 10px;*/
/*    margin-bottom: 10px;*/
/*    border-radius: 3px;*/
/*    font-size: 14px;*/
/*    color: #fff;*/
/*}*/
.added-tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
}

.added-tag:nth-child(odd) {
    background-color: #007bff;
}
.added-tag:nth-child(even) {
    background-color: #28a745;
}

.added-tag:nth-child(3n) {
    background-color: #f0932b;
}

.added-tag:nth-child(4n) {
    background-color: #eb4d4b;
}
