.search-table-container {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center children horizontally */
    min-height: 100vh;
    background-image: url('../../../public/cool-background (2).png');
    /*background-image: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1544&q=80');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.search-container {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 16px; /* Add margin below the search container */
    margin-top: 16px;
}

/*.search-container {*/
/*    display: flex;*/
/*    !*align-items: center;*!*/
/*    margin-left: 20px;*/
/*    margin-bottom: 16px;*/
/*    margin: 20px auto; !* Center the container *!*/
/*    !*max-width: 800px;*!*/
/*}*/
.table-container {
    margin: 20px auto; /* Center the container */
    max-width: 800px; /* Set maximum width */
}
.search-button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-icon {
    margin-right: 8px;
    font-size: 18px;
}

.search-text {
    font-size: 14px;
}

.search-bar {
    margin-left: 16px;
}

.react-chips {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 8px;
}

/* ... (previous styles remain the same) */

.tags-cell {
    display: flex;
    flex-wrap: nowrap; /* Change this line */
    gap: 8px;
    overflow-x: auto; /* Add this line */
    white-space: nowrap; /* Add this line */
}

.tag {
    padding: 4px 8px;
    border-radius: 16px;
    font-size: 12px;
    color: white;
    flex-shrink: 0; /* Add this line */
}

.tag-0 {
    background-color: #f0932b;
}

.tag-1 {
    background-color: #6ab04c;
}

.tag-2 {
    background-color: #4834d4;
}

.tag-3 {
    background-color: #eb4d4b;
}


/* Actions Icons */
.action-icons {
    display: flex;
    gap: 8px;
}

.action-icon {
    cursor: pointer;
    font-size: 24px; /* Increase the font-size value */
}