.verification-container {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
    background-color: #f5f5f5;
    background-image: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1544&q=80');
}

.verification-message {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

.verifying {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

.success {
    background-color: rgba(255, 255, 255, 0.8);
    color: #1890ff;
}

.failed {
    /*background-color: blue;*/
    background-color: rgba(255, 255, 255, 0.8);
    color: #f5222d;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

.login-link {
    color: #1890ff;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

.re-verification-button {
    padding: 12px 24px;
    background-color: #1890ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-top: 20px;
}

.re-verification-button:hover {
    background-color: #40a9ff;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #1890ff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}