/* Navbar.css */
.custom-navbar {
    background-color: #5680E9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.custom-navbar .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.custom-navbar .navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
    margin-right: 15px;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #ccc;
}

.custom-navbar .navbar-nav .nav-link.active {
    color: #fff;
    font-weight: bold;
}

.custom-navbar .navbar-toggler {
    border-color: #fff;
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-navbar .nav-item {
    color: #fff;
    font-weight: 500;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.custom-navbar .nav-item:first-child {
    margin-left: 0;
}

.custom-navbar .nav-link {
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
    color: #ccc;
}
.custom-navbar .nav-item.user-name {
    margin-top: 6px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}