.add-job-application {
    max-width: 800px;
    width:100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.add-job-application-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../../public/cool-background (2).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.add-job-application h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input[type='text'],
.form-group input[type='date'],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input[type='checkbox'] {
    margin-left: 5px;
}

.form-group .error {
    border-color: #ff0000;
}

.form-group .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

.form-group textarea {
    height: 100px;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.form-row .form-group {
    margin-bottom: 0;
}

button[type='submit'] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button[type='submit']:hover {
    background-color: #0056b3;
}