.row-details {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../../public/cool-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.row-details h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #7c4dff;
    font-size: 28px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.form-group span {
    display: block;
    padding: 10px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-row .form-group {
    flex-basis: 48%;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.tags-cell {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    overflow-x: auto;
    white-space: nowrap;
}
.tag {
    background-color: #e0e0e0;
    color: #333;
    padding: 6px 12px;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.form-group p {
    padding: 10px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.5;
}

.edit-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #7c4dff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #6200ea;
}

.action-star {
    color: #ffd700;
    font-size: 20px;
    cursor: pointer;
}


.added-tag:nth-child(odd) {
    background-color: #007bff;
}
.added-tag:nth-child(even) {
    background-color: #28a745;
}

.added-tag:nth-child(3n) {
    background-color: #f0932b;
}

.added-tag:nth-child(4n) {
    background-color: #eb4d4b;
}