<configuration>
    <!-- Full blown logging appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Simple logging - equivalent to System.out.println() -->
    <appender name="Same_As_Println" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%msg%n)</pattern>
        </encoder>
    </appender>

    <!-- Application Status Appender - just for logging the state of the application -->
    <appender name="Application_Status" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%msg)</pattern>
        </encoder>
    </appender>

    <!-- File appender -->
    <appender name="File_Output" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/careercompass.log</file>
        <append>false</append>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.careercompass" level="info" additivity="false">
        <appender-ref ref="Same_As_Println"/>
    </logger>

    <logger name="com.careercompass.CareerCompassApplication" level="info" additivity="false">
        <appender-ref ref="Application_Status"/>
        <appender-ref ref="File_Output"/>
    </logger>

</configuration>